<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="coresync-local" value="../lib/coresync" />
    <add key="dotnet10" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet10/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="localnugets" value="/Users/davidortinau/work/LocalNuGets" />
    <add key="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="coresync-local">
      <package pattern="CoreSync*" />
    </packageSource>
    <packageSource key="dotnet10">
      <package pattern="Microsoft.Extensions.ServiceDiscovery*" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="localnugets">
      <package pattern="UXDivers.*" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.Extensions.ServiceDiscovery*" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json">
      <package pattern="Aspire*" />
    </packageSource>
  </packageSourceMapping>
</configuration>