# .NET
bin/
obj/
out/
*.user
*.suo
*.userprefs
*.binlog

# IDEs
.vs/
.vscode/
.idea/
*.swp

# Rider
_ReSharper.Caches/

# NuGet
*.nupkg
*.snupkg

# OS
.DS_Store
Thumbs.db

# MAUI / Blazor
wwwroot/_content/
Resources/Raw/

# Test output
TestResults/
coverage*.xml
*.coverlet.json
